<div class="container section subHeader ">
    <div class="subHeader__container d-flex justify-content-center">
        <div class="section__header__logo">
            <img src="assets/link.svg"/>
        </div>
        <div class="subHeader__container__text">
            <p>Aujourd'hui cela fait</p>
            <mat-form-field class="subHeader__container__text__counter" matTooltip="S'incrémente automatiquement chaque jour" matTooltipPosition="above">
                <input matInput type="number" [(ngModel)]="counter" (ngModelChange)="updateCounter(); onCheckListChange();">
            </mat-form-field>
            <p class="pDays">jour<span *ngIf="counter > 1">s</span>&nbsp;</p>
            <p>que je valide ma checklist&nbsp;!</p>
        </div>
    </div>
</div>