.header {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    height: 150px;

    &__container {
        height: 100%;

        &__link {
            text-decoration: none;
            &__title{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                h1 {
                    font-weight: bold;
                    font-size: 3rem;
                }
            }
        }
    }


}