<div class="container section check-list">
    <div class="section__header d-flex justify-content-center">
        <div class="section__header__logo">
            <img src="assets/logo-checklist2.svg"/>
        </div>
        <div class="section__header__texts">
            <p class="section__header__texts__title mainBlueColor">Checklist</p>
            <p class="section__header__texts__desc">A valider chaque jour</p>
            <p class="section__header__texts__desc">3 cases minimum à valider&nbsp;!</p>
        </div>
    </div>

    <div class="section__list">

        <div
          class="check-list__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckHabit}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckHabit" (ngModelChange)="onCheckListChange();" id="flexCheckHabit">
                <label class="form-check-label" for="flexCheckHabit">
                    J'ai tenu mon habitude&nbsp;:
                </label>
                <p
                  *ngIf="newHabit && newHabit.text"
                  (click)="checkBox.flexCheckHabit=!checkBox.flexCheckHabit; onCheckListChange();"
                  class="check-list__list__item__newHabit defaultCursor">
                   {{newHabit.text}}
                </p>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckDailyGoal}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckDailyGoal" (ngModelChange)="onCheckListChange();" id="flexCheckDailyGoal">
                <label class="form-check-label" for="flexCheckDailyGoal">
                    J'ai accompli mon objectif du jour
                </label>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckSport}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckSport" (ngModelChange)="onCheckListChange();" id="flexCheckSport">
                <label class="form-check-label" for="flexCheckSport">
                    J'ai fait de l'activité physique
                </label>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckFamilly}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckFamilly" (ngModelChange)="onCheckListChange();" id="flexCheckFamilly">
                <label class="form-check-label" for="flexCheckFamilly">
                    J'ai pris soin de mes relations / amis / entourage.
                </label>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckRead}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckRead" (ngModelChange)="onCheckListChange();" id="flexCheckRead">
                <label class="form-check-label" for="flexCheckRead">
                    J'ai lu
                    <mat-form-field class="check-list__inputNumber">
                        <input matInput [(ngModel)]="checkListFields.pageCounter" (blur)="onCheckListChange();" type="number">
                    </mat-form-field>
                    pages d'un livre.
                </label>
            </div>
        </div>

        <div
          class="check-list__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckWork}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckWork" (ngModelChange)="onCheckListChange();" id="flexCheckWork">
                <label class="form-check-label" for="flexCheckWork">
                    J'ai travaillé 25 min sans interruption sur&nbsp;:
                </label>
            </div>
            <div class="form-check section__list__item__block" (click)="checkBox.flexCheckWork=!checkBox.flexCheckWork">
                <mat-form-field class="section__list__item__textarea">
                    <mat-label>Travail réalisé</mat-label>
                    <textarea type="text" placeholder="Ex. L'élaboration de mon jeu de société" [(ngModel)]="checkListFields.workingTask" (blur)="onCheckListChange();" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckNew}">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckNew" (ngModelChange)="onCheckListChange();" id="flexCheckNew">
                <mat-form-field class="section__list__item__textarea" (click)="checkBox.flexCheckNew=!checkBox.flexCheckNew">
                    <mat-label>J'ai appris quelque chose de nouveau&nbsp;:</mat-label>
                    <textarea type="text" placeholder="Ex. L'existence système Dominic" (blur)="onCheckListChange();" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
            </div>
        </div>

        <div
          class="check-list__list__item"
          [ngClass]="{'no-print': !checkBox.flexCheckIdeas}">
            <div class="form-check section__list__item__block">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="checkBox.flexCheckIdeas" (ngModelChange)="onCheckListChange();" id="flexCheckIdeas">
                    <label class="form-check-label" for="flexCheckIdeas">
                        J'ai trouvé au moins 3 nouvelles idées&nbsp;:
                    </label>
            </div>

            <div class="form-check section__list__item__block" (click)="checkBox.flexCheckIdeas=!checkBox.flexCheckIdeas">
                <mat-form-field
                  *ngFor="let idea of ideas.ideasList;let index = index;trackBy: trackByFn;"
                  class="section__list__item__textarea">
                    <mat-label>Idée {{index+1}}</mat-label>
                    <textarea type="text" placeholder="Ex. Décorer la chambre" [(ngModel)]="ideas.ideasList[index]" (blur)="onCheckListChange();" matInput cdkTextareaAutosize></textarea>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeIdeas(index); onCheckListChange();" class="no-print">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button class="mainBlueColor checkListAddBtn no-print" mat-icon-button aria-label="Ajouter des idées" (click)="addIdeas()">
                    <mat-icon>add</mat-icon>&nbsp;Ajouter une idée
                </button>
            </div>
        </div>

        <div
          class="section__list__item"
          [ngClass]="{'no-print': !checkBox['flexCheckTask_'+index]}"
          *ngFor="let task of tasks.taskList;let index = index;trackBy: trackByFn;">
            <div class="form-check">
                <input class="form-check-input" placeholder="Ex. Cuisiner un repas par jour" [(ngModel)]="checkBox['flexCheckTask_'+index]" (ngModelChange)="onCheckListChange();" [id]="'flexCheckTask_'+index" type="checkbox">
                <mat-form-field class="section__list__item__textarea" (click)="checkBox['flexCheckTask_'+index]=!checkBox['flexCheckTask_'+index]">
                    <textarea type="text" matInput cdkTextareaAutosize [(ngModel)]="tasks.taskList[index]" (blur)="onCheckListChange();"></textarea>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeTask(index); onCheckListChange()"  class="no-print">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <button class="mainBlueColor checkListAddBtn no-print" mat-icon-button aria-label="Ajouter des tâches" (click)="addTask()">
            <mat-icon>add</mat-icon>&nbsp;Ajouter une tâche
        </button>
    </div>
</div>