<div class="container section">
    <div class="section__header d-flex justify-content-center">
        <div class="section__header__logo">
            <img src="assets/logo-checklist2.svg"/>
        </div>
        <div class="section__header__texts">
            <p class="section__header__texts__title mainBlueColor">CHECKLIST</p>
            <p class="section__header__texts__desc">A valider chaque jour</p>
            <p class="section__header__texts__desc">3 cases minimum à valider !</p>
        </div>

    </div>
    <div class="section__list">
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDailyGoal">
                <label class="form-check-label" for="flexCheckDailyGoal">
                    J'ai accompli mon objectif du jour
                </label>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <mat-form-field class="section__list__item__textarea">
                    <mat-label>J'ai appris quelque chose de nouveau :</mat-label>
                    <textarea type="text" placeholder="Ex. Lire au moins 50 pages" matInput required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckSport">
                <label class="form-check-label" for="flexCheckSport">
                    J'ai fait de l'activité physique
                </label>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check section__list__item__block">
                <div>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckIdeas">
                    <label class="form-check-label" for="flexCheckIdeas">
                        J'ai trouvé 3 nouvelles idées :
                    </label>
                </div>
            </div>
            <div class="form-check section__list__item__block">
                <mat-form-field class="section__list__item__textarea">
                    <mat-label>Idée 1</mat-label>
                    <textarea type="text" placeholder="Ex. Lire au moins 50 pages" matInput required></textarea>
                </mat-form-field>
                <mat-form-field class="section__list__item__textarea">
                    <mat-label>Idée 2</mat-label>
                    <textarea type="text" placeholder="Ex. Lire au moins 50 pages" matInput required></textarea>
                </mat-form-field>
                <mat-form-field class="section__list__item__textarea">
                    <mat-label>Idée 3</mat-label>
                    <textarea type="text" placeholder="Ex. Lire au moins 50 pages" matInput required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckRead">
                <label class="form-check-label" for="flexCheckRead">
                    J'ai lu ................... pages d'un livre.
                </label>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckWork">
                <label class="form-check-label" for="flexCheckWork">
                    J'ai travaillé toute la journée sur ............
                </label>
            </div>
        </div>
        <div class="section__list__item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckWork">
                <label class="form-check-label" for="flexCheckWork">
                    J'ai tenu mon habitude
                </label>
            </div>
        </div>
    </div>
</div>