<div class="container section">
    <div class="section__header">
        <div class="section__header__logo">
            <img src="assets/logo_trophe.svg"/>
        </div>
        <div class="section__header__texts">
            <p class="section__header__texts__title mainBlueColor">Mes récompenses</p>
            <p class="section__header__texts__desc">Récompensez vous pour avoir maintenu la chaîne</p>
        </div>
    </div>
    <div class="section__list">
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>30 jours:</mat-label>
                <textarea type="text" placeholder="Ex. Un bon d'achat de 50€" [(ngModel)]="rewards.rewardsList[0]" matInput required></textarea>
            </mat-form-field>
        </div>
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>100 jours:</mat-label>
                <textarea type="text" placeholder="Ex. Une console de jeu" [(ngModel)]="rewards.rewardsList[1]" matInput required></textarea>
            </mat-form-field>
        </div>
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>365 jours:</mat-label>
                <textarea type="text" placeholder="Ex. Un voyage exceptionnelle" [(ngModel)]="rewards.rewardsList[2]" matInput required></textarea>
            </mat-form-field>
        </div>
    </div>
</div>