<div class="container section">
    <div class="section__header">
        <div class="section__header__logo">
            <img src="assets/logo_goals.png"/>
        </div>
        <div class="section__header__texts">
            <p class="section__header__texts__title mainBlueColor">Objectifs</p>
            <p class="section__header__texts__desc">A remplir chaque jour</p>
        </div>
    </div>

    <div class="section__list">
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>Objectif quotidien</mat-label>
                <textarea
                  type="text"
                  placeholder="Ex. Lire au moins 50 pages"
                  matInput
                  cdkTextareaAutosize
                  [(ngModel)]="goals.goalsList[0]"
                  required>
                </textarea>
            </mat-form-field>
        </div>
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>Objectif hebdomadaire</mat-label>
                <textarea type="text" placeholder="Ex. Lire un livre par semaine" matInput cdkTextareaAutosize [(ngModel)]="goals.goalsList[1]" required></textarea>
            </mat-form-field>
        </div>
        <div class="section__list__item">
            <mat-form-field class="section__list__item__textarea">
                <mat-label>Objectif final</mat-label>
                <textarea type="text" placeholder="Ex. Livre 52 livres" matInput cdkTextareaAutosize [(ngModel)]="goals.goalsList[2]" required></textarea>
            </mat-form-field>
        </div>

    </div>
</div>