<app-header></app-header>
<div class="container mainContainer">
  <app-sub-header [counter]="checkList.counter" (onUpdatedCounter)='checkList.counter=$event'></app-sub-header>

    <div class="row doubleCol">
        <div class="col">
          <app-goals [goals]="checkList.goals"></app-goals>
        </div>
        <div class="col">
          <app-rewards [rewards]="checkList.rewards"></app-rewards>
        </div>
    </div>


  <app-check-list
    [newHabit]="checkList.newHabit"
    [ideas]="checkList.ideas"
    [tasks]="checkList.tasks"
    [checkBox]="checkList.checkBox"
    [checkListFields]="checkList.checkListFields"
  ></app-check-list>
  <app-new-habit [newHabit]="checkList.newHabit" (newHabitChange)='checkList.newHabit=$event'></app-new-habit>
</div>

<print-btn></print-btn>